* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Bungee';
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.jpg);
}

#container {
    position: relative;
    width: 95%;
    height: 98%;
    border-radius: 1em;
    background-color: #a3bac4;
}

.form {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
    background-color: #B1C1C8;
}

form {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: auto;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.f-name,.l-name{
    width: 40%;
}
.er {
    font-family: 'Poppins';
    color: #eb4242;
    font-style: italic;
    font-size: 0.8;
    opacity: 0;
}

.name {
    width: 80%;
    justify-content: space-between;
    display: flex;
}

.ip-half {
    display: inline-block;
}

.field {
    width: 80%;
}

.ip {
    width: 100%;
    height: 3em;
    border-radius: 5px;
}

.title {
    font-size: 1.5em;
    text-align: center;
    height: auto;
}

.img-container {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.button-57 {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    border: 1px solid #18181a;
    color: black;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 20px 25px 20px;
    text-decoration: none;
    cursor: pointer;
    background: #D6D6E7;
    user-select: none;
    font-family: 'Bungee';
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
}

.button-57 span:first-child {
    position: relative;
    /* color: white; */
    transition: bic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.button-57 {
    margin-top: 1em;
    border-radius: 5px;
    margin-bottom: 2em;
}