:root {
    --primaty-color: rgb(81, 81, 150);
}

#root {
    margin-top: 146px;
}
.header__container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}
.header__container.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header {
    height: 100px;
    width: 100%;
    padding: 0 100px;
    position: relative;
    z-index: 100;
    
}

.header__logo {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}
.header__logo img {
    max-width: 100%;
}
.header__search {
    border: 1px solid black;
    height: 46px;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    min-width: 30%;
}
.header__search form {
    height: 100%;
    width: 100%;
}

.header__search input {
    background-color: transparent;
    height: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    width: calc(100% - 46px);
    margin-left: 1rem;
}
.header__search button {
    border: none;
    height: 100%;
    width: 46px;
    background-color: rgb(194, 196, 195);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.header__search button:hover {
    background-color: var(--primaty-color);
    color: white;
    cursor: pointer;
}

.header__account > *{
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.header__account *:hover {
    color: var(--primaty-color);
}
.header__account span {
    font-size: 30px;
}

/* account logined */
.header__account__user{
    font-size: 16px;
    text-transform: unset;
    position: relative;
}
.header__account__user div:first-child{
    position: relative;
    margin-right: 20px;
    cursor: pointer;

}
.header__account__user div:first-child a {
    font-size: 24px;
}
.header__account__user div:first-child div {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: var(--primaty-color);
    border-radius: 50%;
    color: white;
}
.header__account__user ul.active {
    height: auto;
    opacity: 1;
}
.header__account__user ul {
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: 8px;
    position: absolute ;
    top: 100%;
    left: 0;
    box-shadow: 0px 1px 1px 1px  #ccc;
    background-color: white;
    min-width: 140px;

}
.header__account__user ul li {
    padding: 12px;
}

.category {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0 100px;
    position: relative;
}
.category > div{
    width: fit-content;
    cursor: pointer;
    padding: 10px 40px 10px 0;
    border-right: 1px solid #ccc;
}
.category > div> *~* {
    margin-left: 5px;
}
.category-tag{
    position: relative;
    user-select: none;
}
#category__list {
    position: absolute;
    top: 100%;
    left: 0;
    border-top: none;
    min-width: 100%;
    width: fit-content;
    box-shadow: 0px 2px 2px 2px #ccc;
    height: 0;
    display: none;
    transition: all 0.3s ease;
    background-color: white;
}
#category__list.active {
    height: auto;
    display: block;
}
#category__list li {
    padding: 14px;
    font-size: 16px;
    display: block;
    min-width: 220px;
    transition: background-color 0.3s ease ;
}
#category__list li:hover {
    background-color: rgb(234, 234, 234);
}

.footer__container {
    padding: 20px 100px;
    
}
.footer__container:first-child{
    border-top: 1px solid black;
}

.footer__item {
    width: 15%;
}
.footer__item h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    padding: 4px 0;
    user-select: none;
}
.footer__item h3::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 25%;
    background-color: black;
}

.footer__item ul {
    padding-top: 10px;
}
.footer__item ul li {
    padding: 4px 2px;
}
.footer__item ul li:hover a{
    color: var(--primaty-color);
}
.footer__item__main {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__item__main ul {
    margin-top: 10px;
    display: flex;
}

.footer__item__main ul li~li{
    margin-left: 1rem;
}
.footer__social div{
    margin-top: 16px;
    margin-left: 1rem;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primaty-color);
}
.footer__social a:hover div {
    opacity: 0.8;
}